<div class="due panel panel-primary">
  {{link-to 'Due' 'tasks' (query-params due=true) class='panel-heading' tagName='div'}}
  <ul class="list-group">
    {{#link-to 'tasks.due' 'past' tagName='li' class='list-group-item'}}
      <span class="when">past</span>
      <span class="count">{{pastDue.length}}</span>
    {{/link-to}}
    {{#link-to 'tasks.due' 'today' tagName='li' class='list-group-item'}}
      <span class="when">today</span>
      <span class="count">{{dueToday.length}}</span>
    {{/link-to}}
    {{#link-to 'tasks.due' 'tomorrow' tagName='li' class='list-group-item'}}
      <span class="when">tomorrow</span>
      <span class="count">{{dueTomorrow.length}}</span>
    {{/link-to}}
    {{#link-to 'tasks.due' 'this-week' tagName='li' class='list-group-item'}}
      <span class="when">this week</span>
      <span class="count">{{dueThisWeek.length}}</span>
    {{/link-to}}
    {{#link-to 'tasks.due' 'next-week' tagName='li' class='list-group-item'}}
      <span class="when">next week</span>
      <span class="count">{{dueNextWeek.length}}</span>
    {{/link-to}}
    {{#link-to 'tasks.due' 'this-month' tagName='li' class='list-group-item'}}
      <span class="when">this month</span>
      <span class="count">{{dueThisMonth.length}}</span>
    {{/link-to}}
  </ul>
</div>
